*.json
*.jsonl
*.Rproj
*.Rhistory
*.Rproj.user

.Rproj.user
.DS_Store
.RData
.Ruserdata

data/
results/
model_results/
logs/
/Almona/initial trial with bundesliga data/
/Almona/EDA/
animation.R
tidymodels_modeling.R

